1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [1]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("MickeyMouse: ")
      
    elif num % 3 == 0:
        print("Mickey" )
     
    elif num % 5 == 0:
        print("Mouse" )
    else:
        print(num)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse:
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse:
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse:
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse:
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse:
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse:
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [2]:
#create a list

a=[]

#put element inside the list

for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        num="MickeyMouse"
        a.append(num)
    elif num % 3 == 0:
        num="Mickey"
        a.append(num)
    elif num % 5 == 0:
        num="Mouse"
        a.append(num)
    else:
        a.append(num)
        
#convert into a tuble
a_tuple = tuple(a)


#substitute in a tuple the words
a_tuple = ['Donald' if i=='Mickey' else i for i in a_tuple]
a_tuple = ['Duck' if i=='Mouse' else i for i in a_tuple]
a_tuple = ['DonaldDuck' if i=='MickeyMouse' else i for i in a_tuple]

a_tuple = tuple(a_tuple)
type_check=type(a_tuple)

#check element and type
print(a_tuple)
print(type_check)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')
<class 'tuple'>

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
#with temporary 
def my_f(x,y):
    temp = x
    x = y
    y = temp
    print('The value of x after swapping: {}'.format(x))
    print('The value of y after swapping: {}'.format(y))
    
#without temporary 
def my_f1(x1,y1):
    x1, y1 = y1, x1
    print("The value of x after swapping without temporary:", x1)
    print("The value of y after swapping without temporary", y1)
    
my_f(5,10)
my_f1(5,10)

The value of x after swapping: 10
The value of y after swapping: 5
The value of x after swapping without temporary: 10
The value of y after swapping without temporary 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
import math 

def f(u,v):
    dist=math.sqrt(pow((u[0]-v[0]),2)+pow((u[1]-v[1]),2))
    return dist

u=(3,0)
v=(0,4)

print("The euclidean distance is:", f(u,v))

Euclidean distance between u and v: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
#one letter
# initializing string 
test_str = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
  
# using count() to get count 
# counting s
counter = test_str.count('s')
  
# printing result 
print ("Count of s  is : "
                           +  str(counter))

#all letters
from collections import Counter
res = Counter(test_str)
print ("Count of all characters in  :\n ",res)

Count of s  is : 9
Count of all characters in  :
  Counter({' ': 41, 'e': 22, 't': 19, 'r': 17, 'i': 14, 'o': 13, 'n': 10, 'h': 9, 's': 9, 'u': 9, 'f': 9, 'p': 8, 'm': 8, 'a': 7, 'l': 6, 'b': 4, 'M': 4, 'c': 3, 'd': 3, '1': 2, '0': 2, '.': 2, 'k': 2, 'y': 2, 'v': 2, 'W': 1, 'g': 1, 'B': 1, 'F': 1, 'w': 1})

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

res = [i for i in l if l.count(i) == 1]

print("The new list is:",res)
print("\n")
print("The number of total unique numbers is:",len(res))

The new list is: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]


The number of total unique numbers is: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def f1(a):
    asq=pow(a,2)
    return asq

def f2(b):
    bsq=pow(b,3)
    return bsq

print("the given number is:", 2)
print("the square of the input number is:", f1(2))
print("the cube of the input number is:", f2(2))


def f4(a):
    sixth=f1(f2(a))
    return sixth

print("the 6th power of the input number is:",f4(2))

2 squared is 4
2 cubed is 8
2 to the 6th power is 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [6]:
x=list(range(0,10))
x_c=[]
for num in x:
    num=pow(num,3)
    x_c.append(num)

print("the new list with loop is:", x_c)

x_c2=[pow(num,3) for num in x]

print("the new list with loop is:", x_c2)

the new list with loop is: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
the new list with loop is: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [7]:
limit=int(input("Enter upper limit:"))
c=0
m=2
mylist=[]
while(c<limit):
    for n in range(1,m+1):
        a=m*m-n*n
        b=2*m*n
        c=m*m+n*n
        if(c>limit):
            break
        if(a==0 or b==0 or c==0):
            break
        mylist.extend((a,b,c))
           
       
    m=m+1

mylist

List = [mylist[i:i + 3]
   for i in range(len(mylist) - 2)]

List=tuple(List)
print("\n")
print("Pythagorean triples for the positive integers a, b and c are:")
print("\n")
print(List)

Enter upper limit:100


Pythagorean triples for the positive integers a, b and c are:


([3, 4, 5], [4, 5, 8], [5, 8, 6], [8, 6, 10], [6, 10, 5], [10, 5, 12], [5, 12, 13], [12, 13, 15], [13, 15, 8], [15, 8, 17], [8, 17, 12], [17, 12, 16], [12, 16, 20], [16, 20, 7], [20, 7, 24], [7, 24, 25], [24, 25, 24], [25, 24, 10], [24, 10, 26], [10, 26, 21], [26, 21, 20], [21, 20, 29], [20, 29, 16], [29, 16, 30], [16, 30, 34], [30, 34, 9], [34, 9, 40], [9, 40, 41], [40, 41, 35], [41, 35, 12], [35, 12, 37], [12, 37, 32], [37, 32, 24], [32, 24, 40], [24, 40, 27], [40, 27, 36], [27, 36, 45], [36, 45, 20], [45, 20, 48], [20, 48, 52], [48, 52, 11], [52, 11, 60], [11, 60, 61], [60, 61, 48], [61, 48, 14], [48, 14, 50], [14, 50, 45], [50, 45, 28], [45, 28, 53], [28, 53, 40], [53, 40, 42], [40, 42, 58], [42, 58, 33], [58, 33, 56], [33, 56, 65], [56, 65, 24], [65, 24, 70], [24, 70, 74], [70, 74, 13], [74, 13, 84], [13, 84, 85], [84, 85, 63], [85, 63, 16], [63, 16, 65], [16, 65, 60], [65, 60, 32], [60, 32, 68], [32, 68, 55], [68, 55, 48], [55, 48, 73], [48, 73, 48], [73, 48, 64], [48, 64, 80], [64, 80, 39], [80, 39, 80], [39, 80, 89], [80, 89, 28], [89, 28, 96], [28, 96, 100])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
n=5
mylist=list(range(0,n))
newlist=[i/sum(mylist) for i in mylist]

mylist=tuple(mylist)
newlist=tuple(newlist)

print("Not normalized list:",mylist)
print("\n")
print("Normalized list:",newlist)

Not normalized list: (0, 1, 2, 3, 4)


Normalized list: (0.0, 0.1, 0.2, 0.3, 0.4)